services:
  textbee-api:
    container_name: textbee-api
    build:
      # This tells Docker to start looking INSIDE the api folder
      context: ./api
      dockerfile: Dockerfile
    restart: always
    environment:
      - PORT=3001
      - 'MONGODB_URI=mongodb://${MONGO_ROOT_USER:-adminUser}:${MONGO_ROOT_PASS:-adminPassword}@textbee-db:27017/textbee?authSource=admin'
      - 'REDIS_URL=redis://textbee-redis:6379'
    depends_on:
      textbee-db:
        condition: service_healthy
    networks:
      - coolify

  textbee-web:
    container_name: textbee-web
    build:
      # This tells Docker to start looking INSIDE the web folder
      context: ./web
      dockerfile: Dockerfile
    restart: always
    environment:
      - PORT=3000
      - 'NEXT_PUBLIC_API_BASE_URL=${SERVICE_FQDN_TEXTBEE_API}/api/v1'
      - 'NEXT_PUBLIC_SITE_URL=${SERVICE_FQDN_TEXTBEE_DASHBOARD}'
    depends_on:
      - textbee-api
    networks:
      - coolify
# ... keep the rest of your DB and Redis services as they are
